@import "base";


.slide {
  background: $teal;

  & a {
    padding: 10px 0;
    &:hover {
      opacity: 0.8;
    }
  }

  &.brown {
    background: $brown;
    color: $teal;
  }

  &.blue {
    background: $blue;
    & * {
      color: $teal;
    }
  }
  font-family: 'Open Sans', sans-serif;
  & .container {
    height: 100%;
    position: relative;
  }
  height: calc(100vh - 120px);
  width: 100%;
  padding: 60px 0;
  &__header {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    padding-top: 30vh;
    font-size: 8rem;
    text-align: center;
  }
  &__author {
    margin-top: auto;
    font-size: 1.5rem;
    width: 100%;
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 0;
  }
  &__title {
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    width: 100%;
  }
  &__row {
    width: 100%;
    display: flex;
    padding-top: 30px;
    .slide__title + & {
       padding-top: 100px;
    }
  }
  &__column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    .slide__title + & {
      padding-top: 100px;
    }
  }
  &__img-block {
    flex: 0 0 35%;
    height: 100%;
  }
  &__text {
    font-weight: 500;
  }
  &__col-3 {
    flex: 1 1 calc(25% - 30px);
    padding: 0 15px;
    max-width: calc(25% - 30px);
  }
}

.img-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__img {
    width: 100%;
    max-height: calc(100% - 40px);
    .slide__col-3 & {
      height: 300px;
      object-fit: contain;
    }
  }
  &__text {
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    .slide__col-3 & {
      font-weight: 400;
      font-size: 1.2rem;
      text-align: left;
    }
  }
}

.change-button {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  background-image: url("/static/img/pause.svg");
  background-size: 65% 65%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 10px #000;
  border: none;
  &.pressed {
    background-position: 61% 50%;
    background-image: url("/static/img/play.svg");
  }
  &:hover {
    box-shadow: 0px 0px 12px #000;
  }
  &:active {
    box-shadow: 0px 0px 10px #000;
  }
}

.slide-number {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  font-size: 2rem;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px #000;
}

.slide__col-3.img-block {
  justify-content: left;
}

.abs_left_bottom {
  position: absolute;
  bottom: 0;
  left: 15px;
}

.selfi {
  height: 40vh;
}
.selfi + .selfi {
  margin-left: 50px;
}
